

<form  action="/usuario" method="POST">
    <div class="row mb-3">
      <label for="inputEmail3" class="col-sm-2 col-form-label">usuario</label>
      <div class="col-sm-10">
        <input name="usuario" class="form-control" >
      </div>
    </div>
    <div class="row mb-3">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Contraseña</label>
        <div class="col-sm-10">
          <input name="contraseña" class="form-control" >
        </div>
      </div>
      <input type="submit">
</form>