
    <div class="container">
    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card chat-app">
                <div id="plist" class="people-list">
                    <span id="span">Debes ingresar el mail para poder chatear</span>
                    <div class="input-group-prepend flex">
                        <input type="mail" class="form-control" placeholder="Gmail" id="mail">
                        <button type="submit" id="mailEnviado" class="input-group-text">cargar mail</button>

                    </div>
                   
                </div>
                <div class="chat">
                    <div class="chat-history">
                        <ul class="m-b-0" id="mensajesContainer">
                            
                            
                        </ul>
                    </div>
                    <div class="chat-message clearfix">
                        <div class="input-group mb-0 ">
                            <div class="input-group-prepend width100">
                                <input type="text" id="mensaje"  class="form-control" placeholder="Enter text here...">                                    
                                <button type="submit" id="mensajeEnviado" class="input-group-text"><i class="fa fa-send"></i></button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    