<!DOCTYPE html>
<html lang="en">
<head>
    <%-include("./partials/head.ejs")%>
</head>
<body>
    <div class="container">
        <hr>
        <main>
            <div class="jumbotron">
                <div style="display:flex">
                    <h2 >Bienvenido <%= user %></h2>
                    <form action="/logout" method="GET">
                        <input type="submit" style="margin-left:700px"  value="Deslogueo" >
                    </form>
                </div>
                <%-include("./prods.ejs")%>
            </div>
        </main>
        <hr>
        <footer>
            <%-include("./partials/footer.ejs")%>
            
        </footer>
    </div>
</body>